@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.list {
  margin-bottom: 20rem;
}

.list__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr 2fr 1fr 2fr 3fr;
      grid-template-columns: 4fr 8fr 2fr 1fr 2fr 3fr;
  gap: 1rem;
  padding: 1rem 2rem;
}

.list__head h3 {
  color: #a0a0a0;
}

.list__head__author {
  text-align: right;
}

.list__head__cover {
  text-align: center;
}

.list__container {
  border: 1px solid #cccccc;
}

.list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr 2fr 1fr 2fr 3fr;
      grid-template-columns: 4fr 8fr 2fr 1fr 2fr 3fr;
  gap: 1rem;
  border-bottom: 1px solid #cccccc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.list__item:nth-child(8) {
  border-bottom: none;
}

.list__item__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.list__item__qoute {
  font-size: 1.2rem;
  color: #a0a0a0;
}

.list__item__author {
  font-size: 1.1rem;
  text-align: right;
  color: #a0a0a0;
}

.list__item__img {
  width: 100%;
  height: auto;
  background: lightblue;
  text-align: center;
  padding: 1rem 0;
}

.list__item__img img {
  width: 80%;
  height: 80%;
  margin: auto;
}

.list__item__likes {
  font-size: 1.2rem;
  color: #a0a0a0;
}

.list__item__dropdown {
  font-size: 1.8rem;
  text-align: right;
}

.list__item__dropdown .fas {
  cursor: pointer;
  position: relative;
}

.list__item__dropdown .submenu {
  position: absolute;
  list-style-type: none;
  background: #6d6d6d;
  z-index: 10;
  top: 20.8rem;
  right: 10%;
}

.list__item__dropdown .submenu a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.list__item__dropdown .submenu a:hover {
  background: #444444;
}

.list__item__dropdown .submenu a p {
  font-size: 0.8rem;
  font-weight: 300;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  width: 100%;
  margin-bottom: 20rem;
}

.grid__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -webkit-box-shadow: 1px 1px 1px 1px #cacaca;
          box-shadow: 1px 1px 1px 1px #cacaca;
}

.grid__item__cover {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  width: 100%;
  height: 100%;
  background: lightblue;
  text-align: center;
}

.grid__item__cover img {
  width: 70%;
  height: auto;
  margin-top: 1rem;
}

.grid__item__text {
  grid-column: 4 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  padding: 1rem;
}

.grid__item__text .headline {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.grid__item__text .quote {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 1rem;
}

.grid__item__text .author {
  font-size: 1.1rem;
  color: #a0a0a0;
}

.grid__item__star {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  grid-row: 11 / -1;
  background: #7cd5f3;
  color: grey;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__item__footer {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4 / 12;
  grid-row: 11 / -1;
  background: #7cd5f3;
}

.grid__item__dropdown {
  grid-column: 12 / -1;
  grid-row: 11 / -1;
  background: #7cd5f3;
  color: grey;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grid__item__dropdown .fas {
  cursor: pointer;
  padding: 1.5rem;
}

.grid__item__dropdown .fas:hover {
  position: relative;
  background: #6d6d6d;
  color: white;
}

.grid__item__dropdown .fas:hover .submenu {
  display: block;
  position: absolute;
  right: 0rem;
  left: -19rem;
  margin-top: 1.5rem;
}

.grid__item__dropdown .fas .submenu {
  display: none;
  list-style-type: none;
  background: #6d6d6d;
  z-index: 10;
}

.grid__item__dropdown .fas .submenu a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.grid__item__dropdown .fas .submenu a:hover {
  background: #444444;
}

.grid__item__dropdown .fas .submenu a p {
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .list__container {
    border: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
    width: 100%;
  }
  .list__head {
    display: none;
  }
  .list__item {
    border-bottom: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
    padding: 0;
    padding-right: 0.5rem;
    border: 1px solid #cccccc;
  }
  .list__item:nth-child(8) {
    border-bottom: 1px solid #cccccc;
  }
  .list__item__title {
    grid-column: 4 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    padding-top: 0.2rem;
  }
  .list__item__qoute {
    grid-column: 4 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    grid-row: 3 / 8;
  }
  .list__item__author {
    grid-column: 4 / -1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8 / 10;
  }
  .list__item__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    grid-row: 1 / 10;
    width: 100%;
    height: 100%;
  }
  .list__item__img img {
    width: 80%;
    height: auto;
  }
  .list__item__likes {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    grid-row: 10 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list__item__dropdown {
    grid-column: 4 / -1;
    grid-row: 10 / -1;
  }
  .list__item__dropdown .submenu {
    top: 26rem;
  }
  .list__item__dropdown .submenu a {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1400px;
  margin: 4rem auto;
}

.header .heading {
  font-size: 2.1rem;
  font-weight: 400;
}

.header .fas {
  font-size: 1.4rem;
}

.header .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .tabs__tab {
  cursor: pointer;
  padding: 1rem;
}

.header .tabs__tab:hover {
  background: #e4e4e4;
}

.header .tabs .active {
  display: none;
}
/*# sourceMappingURL=main.css.map */