@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  max-width: 1440px;
  background: #f5f5f5;
  margin: 0 auto;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.list {
  margin-bottom: 20rem;
}

.list__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
}

.list__head h3 {
  color: #535353;
  font-weight: 400;
}

.list__head__title {
  width: 20%;
}

.list__head__quote {
  width: 35%;
}

.list__head__author {
  width: 16%;
  text-align: right;
}

.list__head__cover {
  width: 10%;
  text-align: center;
}

.list__head__likes {
  width: 10%;
  text-align: left;
}

.list__container {
  border: 1px solid #d9d9d9;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  background: white;
}

.list__item:nth-child(8) {
  border-bottom: none;
}

.list__item__title {
  font-size: 1.4rem;
  font-weight: bold;
  width: 20%;
}

.list__item__qoute {
  font-size: 1.2rem;
  color: #999999;
  width: 35%;
}

.list__item__author {
  font-size: 1.1rem;
  width: 15%;
  text-align: right;
  color: #999999;
}

.list__item__img {
  background: #d1f5f0;
  text-align: center;
  padding: 1rem 0;
  margin-left: 2rem;
  width: 5%;
}

.list__item__img img {
  width: 70%;
  height: 70%;
  margin: auto;
}

.list__item__likes {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
}

.list__item__likes .star {
  font-size: 1.2rem;
}

.list__item__likes .like {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.list__item__dropdown {
  margin-left: auto;
  font-size: 1.8rem;
  text-align: right;
  position: relative;
}

.list__item__dropdown .btn {
  cursor: pointer;
  padding: 3rem;
}

.list__item__dropdown .btn:hover {
  background: #404040;
  color: white;
}

.list__item__dropdown .submenu {
  position: absolute;
  list-style-type: none;
  background: #404040;
  z-index: 10;
  top: 7.7rem;
  right: 0;
  left: -10rem;
}

.list__item__dropdown .submenu a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.list__item__dropdown .submenu a:hover {
  background: #4a4a4a;
}

.list__item__dropdown .submenu a p {
  font-size: 0.8rem;
  font-weight: 300;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  width: 100%;
  margin-bottom: 20rem;
}

.grid__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -webkit-box-shadow: 1px 1px 1px 1px #cacaca;
          box-shadow: 1px 1px 1px 1px #cacaca;
  background: white;
}

.grid__item__cover {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  width: 100%;
  height: 100%;
  background: #d1f5f0;
  text-align: center;
}

.grid__item__cover img {
  width: 70%;
  height: auto;
  margin-top: 1rem;
}

.grid__item__text {
  grid-column: 4 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  grid-row: 1 / 11;
  padding: 1rem;
}

.grid__item__text .headline {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.grid__item__text .quote {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 1rem;
}

.grid__item__text .author {
  font-size: 1.1rem;
  color: #999999;
}

.grid__item__footer {
  grid-column: 1 / -1;
  grid-row: 11 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b3e9ef;
  position: relative;
}

.grid__item__footer:hover {
  background: #0098c7;
}

.grid__item__footer:hover .star {
  color: white;
}

.grid__item__footer:hover .like {
  color: white;
}

.grid__item__footer:hover .btn {
  color: white;
  background: #404040;
}

.grid__item__footer__likes {
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

.grid__item__footer__likes .star {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.grid__item__footer__likes .like {
  font-size: 1.2rem;
}

.grid__item__footer__dropdown {
  color: #999999;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.grid__item__footer .btn {
  cursor: pointer;
  padding: 1.7rem;
}

.grid__item__footer .btn:hover {
  background: #404040;
  color: white;
}

.grid__item__footer .btn:hover .submenu {
  display: block;
  position: absolute;
  right: 0rem;
  left: 0;
  margin-top: 1.5rem;
}

.grid__item__footer .btn .submenu {
  display: none;
  list-style-type: none;
  background: #404040;
  z-index: 10;
  text-align: right;
}

.grid__item__footer .btn .submenu a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  font-family: Roboto;
  font-weight: 400;
}

.grid__item__footer .btn .submenu a:hover {
  background: #444444;
}

.grid__item__footer .btn .submenu a p {
  font-size: 0.9rem;
  font-weight: 300;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1400px;
  margin: 4rem auto;
}

.header .heading {
  font-size: 2.1rem;
  font-weight: 400;
}

.header .fas {
  font-size: 1.4rem;
}

.header .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .tabs__tab {
  cursor: pointer;
  padding: 1rem;
}

.header .tabs__tab:hover {
  background: #e4e4e4;
}

.header .tabs .active {
  display: none;
}
/*# sourceMappingURL=main.css.map */