@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

$accent: rgb(160, 160, 160);
$border: rgb(204, 204, 204);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
}

@mixin media-lg {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (max-width: 850px) {
    @content;
  }
}
@mixin media-sm {
  @media screen and (max-width: 770px) {
    @content;
  }
}
